@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("../css/searchBar.css");
@import url("../css/filterSearch.css");

:root {
  --primary-color: #d04f4f;
  --ingredient-color: #3282f7;
  --appareil-color: #68d9a4;
  --ustensiles-color: #ed6454;
  --background-grey: #e7e7e7;
  --recipe-descriptiont-font-family: "Roboto", sans-serif;
  --recipe-description-font-size: 14px;
  --recipe-description-line-height: 16px;
  --recipe-name-font-family: "Lato", sans-serif;
  --recipe-name-font-weight: 400;
  --recipe-name-font-size: 18px;
  --recipe-name-line-height: 21.6px;
  --ingredient-font-family: "Lato", sans-serif;
  --ingredient-font-weight: 400;
  --ingredient-font-size: 14px;
  --ingrdedient-line-height: 14.4px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  padding: 0 13%;
}

#logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  margin-bottom: 25px;
}
